@import "./reset.css";
@import "./styles/bubble.css";
@import "./styles/header.css";
@import "./styles/menu.css";
@import "./styles/dish.css";
@import "./styles/card.css";
@import "./styles/events.css";


@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), url("./fonts/interRegular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: local("Inter SemiBold"), url("./fonts/interSemiBold.woff2") format("woff2");
  font-weight: 600;
}

:root {
  --main-padding: 32px;
  --card-border-radius: 15px;
  --header-color: rgba(85, 85, 85, 1);
  --color-dark: rgba(28, 28, 28, 1);
  --color-light: rgba(255, 255, 255, 1);
  --dish-button-color: rgba(244, 244, 244, 1);
  --color-grey: rgba(114, 114, 114, 1);
}

html {
  min-width: 1440px;
}

body {
  font-family: "Inter";
  font-weight: 600;
}

button:not(:disabled) {
  cursor: pointer;
}

.content-inline {
  padding-inline: 64px 64px;
}

.content {
  padding-block: var(--main-padding) var(--main-padding);
  padding-inline: 64px 64px;
}

.title {
  font-size: 40px;
  line-height: 48px;
  color: rgba(28, 28, 28, 1);
  padding-bottom: var(--main-padding);
}

.list {
  display: flex;
  column-gap: 32px;
}


@media (min-width: 1441px) {
  .content, .content-inline {
    width: 1440px;
    margin: 0 auto;
  }
}