.header__wrapper {
  background: linear-gradient(90deg, #FEDD2C 0%, #F9C201 100%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  color: var(--header-color);
}

.header__menu {
  display: flex;
  width: 433px;
  column-gap: 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.header__contacts {
  text-align: end;
}

.header__contacts-tel {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.header__contacts-time {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.12px;
}