.menu {
  padding-block: var(--main-padding) var(--main-padding);
}

.menu__title {
  font-size: 40px;
  line-height: 48px;
  color: rgba(28, 28, 28, 1);
  padding-bottom: var(--main-padding);
}

.menu__list {
  display: flex;
  column-gap: 32px;
}

.menu__item-link {
  position: relative;
}

.menu__item-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--card-border-radius);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.menu__item-img-wrapper {
  width: 304px;
  height: 304px;
}

.menu__item-img {
  border-radius: var(--card-border-radius);
}

.menu__item-title {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}
